.tramites .box {
  display: flex;
  align-items: center;
  padding: 15px;
  margin: 10px;
  border-radius: 12px;
  background: #1d1c1c;
  box-shadow: 0 4px 8px rgba(0,0,0,0.08);
  transition: transform 0.2s ease;
}

.tramites .box:hover {
  transform: translateY(-3px);
}

.tramites .icono {
  font-size: 32px;
  color: #2c3e50;
  margin-right: 40px;
  margin-left: 20px;
  color: #f39c12;
}


.tramites .title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
  text-align: left;
}

.tramites .info {
  font-size: 14px;
  color: #555;
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 4px;
}

.tramites .box {
  min-height: 160px; /* ajusta según tu contenido */
}

.tramites .text.row {
  display: block;  /* cambia de flex a bloque */
  width: 100%;
}

.tramites .info svg {
  color: #2ecc71;  /* íconos secundarios en verde, queda pro */
  font-size: 14px;
}


