.tramites .box {
  display: flex;
  align-items: center;
  padding: 15px;
  margin: 10px;
  border-radius: 12px;
  background: #1d1c1c;
  box-shadow: 0 4px 8px rgba(0,0,0,0.08);
  transition: transform 0.2s ease;
}

.tramites .box:hover {
  transform: translateY(-3px);
}

.tramites .icono {
  font-size: 32px;
  color: #2c3e50;
  margin-right: 30px;
  margin-left: 25px;
  color: #f39c12;
}


.tramites .title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
  text-align: left;
  color: #fff;   
}



.tramites .info {
  font-size: 14px;
  color: #bbb;
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 4px;
}


.tramites .box {
  min-height: 160px; /* ajusta según tu contenido */
}

.tramites .text.row {
  display: block;  /* cambia de flex a bloque */
  width: 100%;
}

.tramites .info svg {
  color: #2ecc71;  /* íconos secundarios en verde, queda pro */
  font-size: 14px;
}
.text-containerSP p {
  word-break: break-word;  /* rompe palabras largas */
  overflow-wrap: break-word;
  white-space: pre-line;   /* respeta saltos de línea */
}

.text-containerSP {
  max-width: 100%;         /* evita que se salga del contenedor */
}



.btn-add-tramite {
  background: #ffd44d;
  padding: 10px 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 10px;
}

.btn-add-tramite:hover {
  background-color: #e0e0e0;
}

.new-tramite-form input {
  width: 100%;
  min-height: 80px;
  padding: 10px;
  border: 2px solid #fcc21b;
  border-radius: 10px;
  margin-bottom: 12px;
  font-size: 16px;
  line-height: 1.5;
  resize: vertical;
}

.new-tramite-form textarea {
  width: 100%;
  min-height: 80px;
  padding: 10px;
  border: 2px solid #fcc21b;
  border-radius: 10px;
  margin-bottom: 12px;
  font-size: 16px;
  line-height: 1.5;
  resize: vertical;
}

.btn-add {
  padding: 0; /* eliminamos padding vertical y horizontal innecesario */
  width: 30px; /* tamaño fijo para el botón */
  height: 30px;
  font-size: 16px; /* tamaño del símbolo + */
  font-weight: bold;
  display: flex;
  align-items: center; /* centra verticalmente */
  justify-content: center; /* centra horizontalmente */
  border-radius: 50%; /* opcional, para botón redondo */
  border: 1px solid #ccc; /* borde visible */
  background-color: #f0f0f0;
  cursor: pointer;
  margin-bottom: 10px;
}

.tramites h4 {
  font-size: 30px;
}
@media screen and (max-width: 815px) {

  .tramites .btn-add {
    padding: 8px 14px;
    font-size: 14px;
    margin-bottom: 10px;
  }


  .tramites .icono {
  font-size: 32px;
  color: #2c3e50;
  margin-right: 20px;
  margin-left: 15px;
  color: #f39c12;
}

}