
/* .head .container{
    height: 12vh;
    /* background-color: black; 
} */

.head .logo img{
    width: 450px;
}

.head .ad img{
    width: 350px;
    
}

header{
    background-color: #000000;
    color: aliceblue;
}

header li{
    margin-right: 30px;
    transition: 0.5s;
}
header li a{
    color: #fff;
    transition: 0.5s;
    
}

header li.iniciosesion a{
    color: #ffffff;
    border: 2px solid #bf1414; /* Borde del cuadrado */
    border-radius: 12px; /* Bordes curvos del cuadrado */
    padding: 10px 20px; /* Espaciado interno para el cuadrado */
    transition: 0.5s;
}

header li.iniciosesion {
    margin-left: auto;
    transition: 0.5s;
}

header li a:hover{
    color: #08d523;
    cursor: pointer;
}

/* con display none evitamos que aparezca el menu */
.barIco{
    font-size: 25px;
    background: none;
    color: #fff;
    display: none;
    border: none;
}

@media screen and (max-width:768px){
    .head .logo img{
        width: 250px;
    }
    
    .head .ad img{
        width: 220px;
    }
    /* .head .ad{
        display: none;
    } */
    header .icon{
        display: none;
    }
    header .flex{
        display: none;
    }
    .barIco {
        display: block;
    }
    header .navbar {
        position: absolute;
        display: block;
        background-color:  #078375;
        left: auto;
        top: 232px !important;
        width: 90%;
        height: auto;
        z-index: 5;
        padding: 35px;
        border-bottom-left-radius: 12px; /* Borde curvo en la esquina inferior izquierda */
        border-bottom-right-radius: 12px; /* Borde curvo en la esquina inferior derecha */
        
    }
    header ul li{
        margin-bottom: 30px;
    }

    header li.iniciosesion {
        margin-left: auto;
    }
    header li.iniciosesion a{
        color: #ffffff;
        border: none;
        /* border: 2px solid #bf1414; Borde del cuadrado */
        /* border-radius: 12px; Bordes curvos del cuadrado */
        background-color: black;
        /* padding: 3px 5px; Espaciado interno para el cuadrado */
        transition: 0.5s;
    }

    .head .ad img{
        display: none;

    }
}