/* Redes Sociales Horizontales */
.social-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.social-icons .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: white;
  transition: 0.3s ease;
  text-decoration: none;
}

.social-icons .facebook {
  background-color: #3b5998;
}
.social-icons .pinterest {
  background-color: #bd081c;
}
.social-icons .twitter {
  background-color: #1da1f2;
}
.social-icons .instagram {
  background-color: #c32aa3;
}
.social-icons .youtube {
  background-color: #ff0000;
}

.social-icons .icon:hover {
  transform: scale(1.1);
  opacity: 0.9;
}

  /*------subscribe--------*/
  .subscribe {
    border: 1px solid black;
    padding: 20px;
    text-align: center;
  }
  .subscribe h1 {
    text-align: left;
    font-size: 20px;
    margin-bottom: -5px;
  }

  .subscribe input {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
  }
  .subscribe button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #ff0000;
    color: #fff;
    font-weight: 600;
    border: none;
  }
  .animated-link {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: #25d366; /* WhatsApp green */
    padding: 10px 20px;
    border: 2px solid #25d366;
    border-radius: 5px;
    text-align: center;
    transition: all 0.3s ease;
    animation: colorChange 2s infinite;
  }
  
  /* Animación para cambiar de color */
  @keyframes colorChange {
    0% {
      background-color: #25d366;
      color: #ffffff;
    }
    50% {
      background-color: #ffffff;
      color: #25d366;
    }
    100% {
      background-color: #25d366;
      color: #ffffff;
    }
  }
  
  /* Efecto hover */
  .animated-link:hover {
    background-color: #128c7e; /* Más oscuro en hover */
    color: #ffffff;
    transform: scale(1.1);
  }
  
  /*------subscribe--------*/
  .banner {
    margin: 1px 0;
  }
  .catgorys .category1 {
    position: relative;
    margin-bottom: 20px;
    padding: 10px;
  }
  /*----------gallery----------*/
  .gallery .img {
    width: 315px;
    height: 200px;
  }
  .gallery img {
    width: 315px;
    height: 200px;
    object-fit: cover;
  }

  /*----------gallery----------*/
  @media screen and (max-width: 768px) {
    .gallery img,
    .gallery .img {
      width: 100%;
      height: 400px;
    }
  }