.foro .box {
    margin-bottom: 30px;
    margin-left: 2px;
  }
  .foro .text {
    padding: 0 30px;
  }
  .foro .images {
    width: 320px;
    height: 220px;
  }
  .foro img {
    width: 320px;
    height: 220px;
    object-fit: cover;
  }
  .foro h1 {
    font-size: 22px;
  }
  @media screen and (max-width: 768px) {
    .foro img,
    .foro .images {
      display: none;
      height: 350px;
    }
  }